<a href="https://colab.research.google.com/github/jackylmw/Week1-Introduction_to_Python/blob/Assignment1_JackyLam/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON INTRODUCTION

#                                                      Table Of Content
1.introdution

     1.1 What is Python
     
2.Data types

     2.1 variables
     2.2 Numbers
     2.3 Strings
     2.4 Lists
     2.5 Dictionaries
     2.6 Tuples
     2.7 Sets
   
3.Comparison operators

4.If-Else statement

5.For Loop and While loop

6.Functions

7.Lambda functions

     7.1 Map()
     7.2 Filter()
   
8.File I/O

9.Pandas liberary introduction

10.Series

     10.1 From ndarray
     10.2 From dict
     10.3 From scalar value
     10.4 Series is ndarray-like
     10.5 Series is dict-like
     10.6 Vectorized operations and label alignment with series
   
11.Data frames

     11.1 From dict of series or dicts
     11.2 from dict of ndarrays/lists
     11.3 from a list of dicts
     11.4 from a list of tuples
     11.5 Alternate constructors
     11.6 Column selection, addition, deletion
     11.7 Indexing/ selection
     11.8 Data alignment
     11.9 transposing

# 1. Introduction

## 1.1 What is python

Guido Van Rossum developed the Python language in the late 1980s. In contrast to other popular languages such as C, C++, Java, and C#, Python strives to provide a simple but powerful syntax.It is open source general purpose language with great interactive environment.It provides all the three types of programming features Object Oriented, Procedural and Functional.It is used by many of the most highly productive professional programmers.Moreover, Python can also become a common language for production of web based analytics product. A few of the places that use Python extensively are Google, the New York Stock Exchange, Industrial Light,Magic etc.
#### Important features of Python:
 -  Built-in high level data types: strings, lists, dictionaries, etc.
 -  The usual control structures: if, if-else, if-elif-else, while, plus a powerful collection iterator (for).
 -  Multiple levels of organizational structure: functions, classes, modules, and  packages. These assist in organizing code. An excellent and large example is the Python standard library.
 - Compile on the fly to byte code -- Source code is compiled to byte code without a separate compile step. Source code modules can also be "pre-compiled" to byte code files.
 - Object-oriented -- Python provides a consistent way to use objects: everything is an object. And, in Python it is easy to implement new object types (called classes in object-oriented programming).
 - Extensions in C and C++ -- Extension modules and extension types can be written by hand. There are also tools that help with this, for example, SWIG, sip, Pyrex

# 2. Data types

There are various data types in Python. Some of the important types are listed below.

## 2.1 Variables

 - Python variables do not need explicit declaration to reserve memory space.
 - The declaration happens automatically when you assign a value to a variable.
 - The equal sign = is used to assign values to variables.
  
  Some examples are given as follows:

In [1]:
area = 200.30  #float type variable
Distance = 100 #integer type variabe
name = 'Sara' #string type variable
a = 1.30
b = 20
c = 'Jacky'

#print all values
print (area)
print(Distance)
print(name)

a = 1.30
b = 20
c = 'Jacky'
print (a)
print(b)
print(c)

200.3
100
Sara
1.3
20
Jacky

## 2.2 Numbers

 - This data type store numeric values
 - Numbers are immutable data types (Immutable data types means values cannot be changed after it is created)

  Some examples are given as follows:

In [3]:
print(5) #integer
print(6)

5
6

In [2]:
print(10+10) #integer
print(6+6)

20
12

In [4]:
print(5.5+5.5) #float
print(6.2+6.2)

11.0
12.4

In [5]:
print(5**2) #exponent
print(3**3)

25
27

## 2.3 Strings

 - Strings in Python are identified as a contiguous set of characters represented in the quotation marks.
 - Python allows either pair of single or double quotes.
 - Strings are immutable.
 - Python doesn't support Char data type.It will beas string of length one in python.

In [7]:
Course="Artificial Intelligence"
name='Sara'
print(name, Course)

Course="AI"
name='Jacky'
print(name, Course)

Sara Artificial Intelligence
Jacky AI

### Access values in strings

 - we can access a specific character or range of characters from strings.
 - Subsets of strings can be taken using the slice operator [] and [:] with indexes starting from 0.

 Some examples are listed below:

In [8]:
stringVariable = 'Hello World'

print("stringVariable[0]:", stringVariable[0])
print("stringVariable[1:5]:", stringVariable[1:5])

stringVariable = 'Artificial Intelligence'

print("stringVariable[5]:", stringVariable[5])
print("stringVariable[6:10]:", stringVariable[6:10])

stringVariable[0]: H
stringVariable[1:5]: ello
stringVariable[5]: i
stringVariable[6:10]: cial

### Updating string

 - Value of string can be changed or updated by assigning a new value to it.
 - New value must have same data type as previous value.
 - For this purpose '+' operator is used as follows:

In [11]:
stringVariable ="Hello World "
stringVariable = stringVariable[:6]+"Python"

print ("updated string:",stringVariable)

stringVariable ="Hello World "
stringVariable = stringVariable[:6]+"Jacky"

print ("updated string:",stringVariable)

updated string: Hello Python
updated string: Hello Jacky

### Delete string

 - we can delete the value of string by just deleteing its object.
 - 'del' keyword is used for this purpose

  It would be cleared by using following example:

In [13]:
stringVariable ="Hello World "
print (stringVariable)
del stringVariable
print (stringVariable)

stringVariable ="Hello Jacky "
print (stringVariable)
del stringVariable
print (stringVariable)

Hello World

NameError: name 'stringVariable' is not defined

### String special operators

 - some special operators are used in Python to perform different opertions.
   These are given below:

#### String Concatenation

 - To concatenate the strings we used '+' operator.

    Following are the examples of concatenation:

In [15]:
stringvalue1="machine"
stringvalue2="learning"
print(stringvalue1+stringvalue2)

stringvalue1="hello"
stringvalue2="jacky"
print(stringvalue1+stringvalue2)

machinelearning
hellojacky

#### Repitition

 - '*' symbol is used for repitition.

In [17]:
stringvalue="Assignment"
print(stringvalue*2)

stringvalue="Hello"
print(stringvalue*3)

AssignmentAssignment
HelloHelloHello

#### Use of [] symbol

 - '[]'symbol give the character of string at given index.

In [19]:
Stringvalue="Machine Learning"
print(Stringvalue[1])

Stringvalue="Hello Jacky"
print(Stringvalue[3])

a
l

#### Use of [:] symbol

 - [:] is used to get substring from string.

In [20]:
stringvalue="Hello"
print(stringvalue [1:3])

stringvalue="Jacky"
print(stringvalue [2:4])

el
ck

#### use of 'in'

 - 'in' is used to check the existance of character in string.
 - It returns TRUE if given character exist in string,otherwise FALSE.

In [21]:
Stringvalue="Hello"
print('H' in Stringvalue)

Stringvalue="Jacky"
print('j' in Stringvalue)

True
False

#### Use of "not in"

 - 'not in' returns true if given character is not in string,otherwise false.

In [22]:
Stringvalue="Hello"
print('G' not in Stringvalue)

Stringvalue="Jacky"
print('C' not in Stringvalue)

True
True

### String formatting operator

 - Python uses C-style string formatting to create new, formatted strings.
 - The "%" operator is used to format in print statement.

See following examples:

In [24]:
print("My name is %s and weight is %d kg!" % ("Sara", 21))
print("My name is %s and my favourite food is %s!" % ("Sara", "chicken"))

My name is Sara and weight is 21 kg!
My name is Sara and my favourite food is chicken!

## 2.4 Lists

 - Multiple types of data can be stored in a list.
 - A list contains items separated by commas and enclosed within square brackets [].
 - Individual elements of a list can be changed
 - list indices start with 0 just like arrays.

In [26]:
list1 = [ 'Mary', 2000 ]

print (list1) # Prints complete list

list2 = [ 'Jacky', 2024 ]
print (list2)

['Mary', 2000]
['Jacky', 2024]

### Accessing values in list

 - Square brackets are used to access the values of a list
 - We can access specific values or range of values from a list

In [27]:
list1 = [ 'Physics' , 'Chemistry' , 1857, 3290]
list2 = [1,2,3,4,5,6,7]

print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1 = [ 'Hello' , 'Jacky' , 18, 90]
list2 = [1,2,3,4,5]

print("list1[1]: ", list1[1])
print("list2[1:3]: ", list2[1:3])

list1[0]:  Physics
list2[1:5]:  [2, 3, 4, 5]
list1[1]:  Jacky
list2[1:3]:  [2, 3]

### Updating list

 - Value of string can be changed or updated by assigning a new value to it.
 - we can update single or multiple elements of a list by giving slice on left hand of the assignment operator.
 - we can also update list by using append() function.

In [28]:
list1=["dell","Hp","Apple"]
list1[1]="samsung"
print(list1)

list1.append('acer')
print(list1)

list1=["dell","Hp","Apple"]
list1[2]="hello"
print(list1)

list1.append('welcome')
print(list1)

['dell', 'samsung', 'Apple']
['dell', 'samsung', 'Apple', 'acer']
['dell', 'Hp', 'hello']
['dell', 'Hp', 'hello', 'welcome']

### Delete List Element

- we can delete the element of list by using del keyword or remove()function.
- 'del' keyword is used when you know the position or index of element to be deleted.
- remove() function can be used when you don't know the postion of element to be removed.

  It would be cleared by using following example:

In [29]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list
del list1[1]
print("After deleting the value ")
print (list1)

del list1[0]
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']
After deleting the value
['Apple']

In [30]:
list1=["dell","Hp","Apple"]
print (list1) # Prints complete list

list1.remove('Hp')
print("After deleting the value ")
print (list1)

list1.remove('dell')
print("After deleting the value ")
print (list1)

['dell', 'Hp', 'Apple']
After deleting the value
['dell', 'Apple']
After deleting the value
['Apple']

## 2.5 Dictionaries

 - Dictionary is an unordered set of key: value pairs, with the requirement that the keys are unique (within one dictionary).
 - Each key is seperated by colon(:) from its value.
 - Each item is seperated with comma(,).
 - A pair of braces creates an empty dictionary: {}.
 - Python's dictionaries are kind of hash-table type.
 - A dictionary key can be almost any Python type, but are usually numbers or strings. Values, on the other hand, can be any       arbitrary Python object.
 - Dictionaries are enclosed by curly braces ({ }) and values can be assigned and accessed using square braces ([])
 - Dictionaries have no concept of order among elements. It is incorrect to say that the elements are "out of order"; they are simply unordered

## Accessing value in dictionary

- Square brackets [] along with the key are used to access its value.

In [1]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1['Name'])

print(dict1['Department'])

Sara
SIAT

### Updating Dictionary

- we can update values in dictionary
- we can also add new values in dictionary

Some examples are given below:

In [2]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)
dict1['Batch']="S23"
print(dict1)

dict1['Batch']="2024"
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 'S23'}
{'Name': 'Sara', 'Department': 'SIAT', 'Batch': '2024'}

### Delete Dictionary element

- we can delete elements of dictionary as well as complete content of dictionary.
- To delete single element del keyword is used.
- clear() function  is used to remove complete dictionary.

 Some examples are as follows:

In [3]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
print(dict1)

del dict1['Batch']
print(dict1)

del dict1['Name']
print(dict1)

{'Name': 'Sara', 'Department': 'SIAT', 'Batch': 2023}
{'Name': 'Sara', 'Department': 'SIAT'}
{'Department': 'SIAT'}

In [5]:
dict1 = {'Name':"Sara" , "Department" : "SIAT", "Batch":2023}
dict1.clear()
print(dict1)

dict1 = {'Name':"Jacky" , 'Job':"Student"}
dict1.clear()
print(dict1)

{}
{}

## 2.6 Tuples

 - A tuple is another sequence data type that is similar to the list.
 - A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parenthesis.
 - The main difference between lists and tuples are − Lists are enclosed in brackets ( [ ] ) and their elements and size can be  changed, while tuples are enclosed in parentheses ( ( ) ) and cannot be updated. Tuples can be thought of as read-only lists.   
 - It can also have multiple data type values.

  For example:

### Accessing values in Tuples

- Square brackets [] along with the index are used to access its value.

In [6]:
tuple1 = ( 'simon','sara' , '20', 'saira40')

print (tuple1)
print(tuple1[1:3])

tuple1 = ( 'SFU','Jacky' , '2024')

print (tuple1)
print(tuple1[0:2])

('simon', 'sara', '20', 'saira40')
('sara', '20')
('SFU', 'Jacky', '2024')
('SFU', 'Jacky')

### Updating Tuples

- Tuples are immutable means we cannot change the value of tuple.
- It is read only.
- we are able to take portions of tuples to make a new tuple.

In [8]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
tuple3=(tuple1+tuple2)
print(tuple3)

tuple1=('spring','summer','fall','winter')
tuple2=(4,3,2,1)
print(tuple1)
print(tuple2)
tuple3=(tuple2+tuple1)
print(tuple3)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)
('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat', 1, 2, 3, 4, 5, 6, 7)
('spring', 'summer', 'fall', 'winter')
(4, 3, 2, 1)
(4, 3, 2, 1, 'spring', 'summer', 'fall', 'winter')

### Delete tuple elements

- we cannot delete single elements of tuple because they cannot be updated.
- To delete entire elements del keyword is used.

 Some examples are as follows:

In [ ]:
tuple1=('sun','mon','tue','wed','thur','fri' , 'sat')
tuple2=(1,2,3,4,5,6,7)
print(tuple1)
print(tuple2)
del(tuple1)
print(tuple1)

tuple1=('spring','summer','fall','winter')
tuple2=(4,3,2,1)
print(tuple1)
print(tuple2)
del(tuple2)
print(tuple2)

('sun', 'mon', 'tue', 'wed', 'thur', 'fri', 'sat')
(1, 2, 3, 4, 5, 6, 7)

NameError: ignored

# 2.7 Sets

 - A set is an unordered collection in which each value occurs at most once.
 - You can use curly braces to give an expression whose value is a set.
 - Python prints sets using curly braces.
 - Every value in a set is immutable but the set itself is immutable we can add o remove items from it.
 - Sets can be used to perform mathematical operations like union,intersection,etc
 - Empty set will be written as {}.
 - We can also make a set from a list using set() function.
 - Data type can be found using type() function.
 - add() is used to add single value, update() is used for adding multiple values.
 - update() function can take tuple,string,list or other set as argument.
 - discard() and remove() are used to delete specific item from list.
 - discard() will not raise an error if item doesn't exist.
 - remove() will raise an error if item doesn't exist in set.
 - The cardinality of a set S is the number of elements in the set.
 - In Python, the cardinality of a set is obtained using the function len(·).

In [11]:
#list
list1=[1,2,3,4,5]

print(type(list1))

my_set=set(list1)

print(type(my_set))

#set of integers
my_set={1,2,3}
print(my_set)

#set of mixed data types
my_set={1, "Hello"}

#adding a single value
my_set.add("D")

#adding multiple values
my_set.update(list1)
print(my_set)


my_set.discard('G') #it will not raise an error
print(my_set)

my_set.remove(1)
print(my_set)

my_set.remove('G') #it will raise an error

<class 'list'>
<class 'set'>
{1, 2, 3}
{'D', 1, 2, 3, 4, 5, 'Hello'}
{'D', 1, 2, 3, 4, 5, 'Hello'}
{'D', 2, 3, 4, 5, 'Hello'}

KeyError: 'G'

# 3.Comparison Operators

 - Comparison operators are used to compare values and return TRUE/FALSE according to the situation.
 - Python defines the following comparison operators:

### Less than operator  (<)

In [12]:
print(10<17)
print(19<17)

True
False

### Less than equal to operator (<=)

In [14]:
print(15<=10)
print(8<=10)

False
True

### Equal to operatoe (==)

In [16]:
print(16==16)
print(16==10)

True
False

In [17]:
print("Sara"=="sara")
print("Sara"=="Sara")

False
True

In [18]:
print("ALI"=="ALI")
print("ALI"=="alt")

True
False

### Not equal to operator (!=)

In [19]:
print(3!=5)
print(3!=3)

True
False

### OR Operator

In [20]:
print((10==10)or(10<17))
print((10==10)or(10>17))

True
True

### And operator

In [22]:
print((10==10)and (10<17))
print((10==10)and (10>17))

True
False

# 4.If else statement

 - The if–else is used to make choices in Python code.
 - This is a compound statement.
 - The syntax is:
 - if c o n d i t i o n
          action −1
  else :
          action −2
 - The indentation is required

In [23]:
x = 3
if x > 0:
    print(" sunday is wonderful")
else :
    print(" Monday is Good ")

y = 0
if y > 0:
    print(" sunday is wonderful")
else :
    print(" Monday is Good ")

 sunday is wonderful
 Monday is Good

In [24]:
if 25 % 2:
  print("Even")
else:
  print("Odd")

x = 3
if x < 0:
  print("Negative")
else:
  print("No Negative")

Even
No Negative

# 5.For and while loop

- Python has for and while loop for iteration,used when we want to perfrom a specific task repeatedly.

### For loop

- The for statement is used to iterate over the elements of a sequence.
- It's traditionally used when you have a piece of code which you want to repeat n number of time.
- The syntax of a for loop is:

    for item in list :
      a c t i o n
- As usual, the action consists of one or more statements, all at the same indentation level. These statements are also known as the body of the loop. The item is a variable name, and list is a list.
- Execution of the for loop works by setting the variable successively to each item in the list, and then executing the body each time.

  Here is a simple example:

In [25]:
for i in [2 , 4 , 6 , 0]:
    print(i)

for i in [-2 , -4 , -6 , 0]:
    print(i)

2
4
6
0
-2
-4
-6
0

In [26]:
for counter in range(1, 6):
    print (counter)

for counter in range(3, 6):
    print (counter)

1
2
3
4
5
3
4
5

In [27]:
word = "sara"
for letter in word:
    print (letter)

name = "Jacky"
for letter in name:
    print (letter)

s
a
r
a
J
a
c
k
y

### While loop

In [34]:
a=0
while a < 10:
  a=a+1
  print(a)

x=2
while x < 20 and x%2 ==0:
  x=x*2
  print(x)

1
2
3
4
5
6
7
8
9
10
4
8
16
32

# 6.Functions

 - You use functions in programming to bundle a set of instructions that you want to use repeatedly or that, because of their  complexity, are better self-contained in a sub-program and called when needed.                                 
 - Function is a piece of code written to carry out a specified task.
 - There are three types of functions in Python:
 - Built-in functions, such as help() to ask for help, min() to get the minimum value, print() to print an object.
 - User-Defined Functions (UDFs), which are functions that users create to help them out.
 - Anonymous functions, which are also called lambda functions because they are not declared with the standard def keyword.
 - The syntax is:

   def functionname(parameters)
    
   "function_docstring"
   
   function_suite
   
   return [expression]

In [40]:
from re import X
def my_function(name):
  #This prints a passed string into this function
    print(name)
    return;

#Now you can call my_function
my_function("Mary")

def my_function(x):
    x = x*2
    print(x)
    return;

my_function(3)

Mary
6

# 7.Lambda Functions

 - The creation of anonymous functions at runtime,using a construct called "lambda"
 - A lambda function is a small anonymous function.
 - A lambda function can take any number of arguments, but can only have one expression.
 - Lambda function does not include return statement,it always contains an expression which is returned.
 - You might want to use lambdas when you don’t want to use a function twice in a program.

   some examples are given:

In [42]:
#Normal Function
def f (x):
  return x**2
print (f(8))

def h (x):
  return 2*x
print (h(16))

64
32

In [43]:
times3 = lambda var:var*3
print(times3(10))

#lamba expressions : another way to write a function in line

times5 = lambda var:var*5
print(times5(10))

50

In [45]:
add = lambda x, y: x + y

print(add(3, 5))

add2 = lambda x, y: 2*(x + y)

print(add2(3, 5))

8
16

## 7.1 Map()

 - Map() function is used with two arguments.Just like: r=map(func,seq)
 - The first argument func is function name and the second is a sequence(list etc)
 - Map functions expects a function object and any number of iterables like list, dictionary, etc.
 - It executes the function_object for each element in the sequence and returns a list of the elements modified by the function  object.

   Example:

In [47]:
sentence = "It is raining cats and dogs"
words = sentence.split()
print(words)

lengths= map(lambda word :len(word), words)

print(list (lengths))

sentence2 = "The snow is very heavy!"
words2 = sentence2.split()
print(words2)

lengths2= map(lambda word2 :len(word2), words2)

print(list (lengths2))

['It', 'is', 'raining', 'cats', 'and', 'dogs']
[2, 2, 7, 4, 3, 4]
['The', 'snow', 'is', 'very', 'heavy!']
[3, 4, 2, 4, 6]

## 7.2 Filter()

 - The filter() method filters the given iterable with the help of a function that tests each element in the iterable to be true or not.
 - The syntax of filter() method is:
      filter(function, iterable)
 - The filter() method takes two parameters:

      1)function - function that tests if elements of an iterable returns true or false If None, the function defaults to Identity function - which returns false if any elements are false
      
      2)iterable - iterable which is to be filtered, could be sets, lists, tuples, or containers of any iterators
 - The filter() method returns an iterator that passed the function check for each element in the iterable.

In [48]:
# list of alphabets
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

for i in filter(filterVowels, alphabets):
     print(i)


courses = ['IAT481', 'IAT312', 'EDUC341', 'IAT431', 'ARCH301', 'PHIL300']

def filterIats(course):
    iats = ['IAT481', 'IAT312', 'IAT431']

    if(course in iats):
        return True
    else:
        return False

for i in filter(filterIats, courses):
     print(i)

a
e
i
o
IAT481
IAT312
IAT431

In [52]:
# random list
randomList = [1, 'a', 0, False, True, '0']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

randomList = [1, None,'0', 0, False, True, 'None']

filteredList = filter(None, randomList)

print('The filtered elements are:')
for element in filteredList:
    print(element)

The filtered elements are:
1
a
True
0
The filtered elements are:
1
0
True
None

In [54]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)

for x in adults:
  print(x)

numbers = [-1, 2, 0, 3, -5, -7]

def negaNum(x):
  if x < 0:
    return True
  else:
    return False

negatives = filter(negaNum, numbers)

for x in negatives:
  print(x)

18
24
32
-1
-5
-7

# 8.File I/O

 - In this section we will cover basic I/O functions.

## Reading input from keyboard

 -  There are two functions in Python that you can use to read data from the user:raw_input and input
 -  You can store the results from them into a variable
 -  If the input function is called, the program flow will be stopped until the user has given an input and has ended the input  with the return key. The text of the optional parameter, i.e. the prompt, will be printed on the screen.

 Let's have a look at the following example:

In [55]:
name = raw_input("What's your name? ")
print("Nice to meet you " + name + "!")

food = raw_input("What's your favourite food? ")
print("My favourite food is " + food + ".")

NameError: name 'raw_input' is not defined

In [ ]:
age = raw_input("What's your age? ")
print("your age is " + age + "!")

water = raw_input("How many glasses of water do you drink every day? ")
print("I drink " + water + " glasses of water every day.")

In [ ]:
string=raw_input("enter your university....")
print(string)

string=raw_input("enter your name")
print(string)

## I/O From or to text file

 - In this scenario, we will read and write to a text file.
 - we can open files in different modes.

## Read only mode

 - r opens a file in read only mode.
 - The file pointer is placed at the beginning of the file.
 - This is the default mode.

In [ ]:
file = open("hello.txt", "r")
str=file.read();
print(str)
file.close()

file = open("jacky.txt", "r")
str=file.read();
print(str)
file.close()

## Read and write mode

 - r+ opens a file in read and write mode.
 - The file pointer placed at the beginning of the file

In [ ]:
# Open a file
file = open("hello.txt", "r+")
str = file.read(10);
print ("Read String is : ", str)
# Close opend

file = open("jacky.txt", "r+")
str = file.read(10);
print ("Read String is : ", str)

## Write mode only

 - w opens a file in write mode only.
 - Overwrites the file if the file exists. If the file does not exist, creates a new file for writing

In [ ]:
file = open('write.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

file = open('jacky.txt','w')
file.write("This is the write command")
file.write("It allows us to write in a particular file")
file = open('jacky.txt','r')
str=file.read()
print(str)
file.close()

## Append mode

 - a opens a file in append mode.
 - The file pointer is at the end of the file if the file exists.
 - That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

In [ ]:
file = open('write.txt','a')
file.write("This will add this line")
file = open('write.txt','r')
str=file.read()
print(str)
file.close()

file = open('jacky.txt','a')
file.write("This will add this line")
file = open('jacky.txt','r')
str=file.read()
print(str)
file.close()

## Append and read mode

 - a+ opens a file in append and read mode.
 - The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist,    it creates a  new file for reading and writing.

In [ ]:
file = open('hello.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('hello.txt','r')
str=file.read()
print(str)
file.close()

file = open('jacky.txt','a+')
file.write("MSCS From comsats university")
file.close()
file = open('jacky.txt','r')
str=file.read()
print(str)
file.close()

## File Position

 - tells() method tells the current position within the file.
 - seek() method changes the current file method.
 - Following is the syntax for seek() method:    fileObject.seek(offset[, whence])

In [ ]:
f = open('hello.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

f = open('jacky.txt',"r+")
str=f.read(20);
print("read string is :",str)

position=f.tell();
print("current file position is :",position)

position=f.seek(5);
str=f.read(10);
print("again read string is :",str)
f.close()

# 9.Pandas Introduction

Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data. In 2008, developer Wes McKinney started developing pandas when in need of high performance, flexible tool for analysis of data.

Prior to Pandas, Python was majorly used for data munging and preparation. It had very less contribution towards data analysis. Pandas solved this problem. Using Pandas, we can accomplish five typical steps in the processing and analysis of data, regardless of the origin of data — load, prepare, manipulate, model, and analyze.

Python with Pandas is used in a wide range of fields including academic and commercial domains including finance, economics, Statistics, analytics, etc.

#### Key Features of Pandas

-  Fast and efficient DataFrame object with default and customized indexing.
-  Tools for loading data into in-memory data objects from different file formats.
-  Data alignment and integrated handling of missing data.
-  Reshaping and pivoting of date sets.
- Label-based slicing, indexing and subsetting of large data sets.
- Columns from a data structure can be deleted or inserted.
- Group by data for aggregation and transformations.
- High performance merging and joining of data.
- Time Series functionality.

Pandas deals with the following three data structures:
- Series
- DataFrame
- Panel

These data structures are built on top of Numpy array, which means they are fast.

# 10.Series

- The Series is a one-dimensional array that can store various data types, including mix data types.
- The row labels in a Series are called the index.
- Any list, tuple and dictionary can be converted in to Series using ‘series’ method
- Basic method to create a series: s = pd.Series(data, index = index)
- Series is size immutable.

In [56]:
import pandas as pd
s = pd.Series([1, 'Lahore', 2, 3, 'Happy Eating!'])
print(s)

s = pd.Series(['hello', 0, 'jacky', 1, 2, 3, 'Happy'])
print(s)

0                1
1           Lahore
2                2
3                3
4    Happy Eating!
dtype: object
0    hello
1        0
2    jacky
3        1
4        2
5        3
6    Happy
dtype: object

## 10.1 Series creation from ndarray

- Index must be of same length as data. If no index is passed, it will automatically be [0, ..., len(data) - 1]

In [57]:
first_series = pd.Series([1,2,4,8,16,32,64])
print(type(first_series))
print(first_series)

second_series = pd.Series([1.5, 2.7, 3.2, 4.6, 5.9])
print(type(second_series))
print(second_series)

<class 'pandas.core.series.Series'>
0     1
1     2
2     4
3     8
4    16
5    32
6    64
dtype: int64
<class 'pandas.core.series.Series'>
0    1.5
1    2.7
2    3.2
3    4.6
4    5.9
dtype: float64

In [59]:
import numpy as np
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)
print('-'*50)
print(s.index)

import numpy as np
s = pd.Series(np.random.randn(4), index=['A', 'B', 'C', 'D'])
print(s)
print('-'*10)
print(s.index)

a    0.651199
b    0.854826
c   -1.299065
d   -0.409539
e   -0.734319
dtype: float64
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
A   -0.057835
B    1.462093
C   -1.157425
D   -2.053470
dtype: float64
----------
Index(['A', 'B', 'C', 'D'], dtype='object')

## 10.2 Series creation from dict

- If Data is a dictionary, if index is passed the values in data corresponding to the labels in the index will be pulled out, otherwise an index will be constructed from the sorted keys of the dict.

In [60]:
d = {'a': 100., 'b': 200., 'c': 300.}
print(pd.Series(d))

d = {'a': -100., 'b': -200., 'c': -300.}
print(pd.Series(d))

a    100.0
b    200.0
c    300.0
dtype: float64
a   -100.0
b   -200.0
c   -300.0
dtype: float64

In [61]:
data = {'abc': 1, 'def': 2, 'xyz': 3}
print(pd.Series(data))

data = {'abc': -1, 'def': -2, 'xyz': -3}
print(pd.Series(data))

abc    1
def    2
xyz    3
dtype: int64
abc   -1
def   -2
xyz   -3
dtype: int64

## 10.3 Series creation from a scalar value

- Index must be provided. The value will be repeated to match the length of the index

In [62]:
print(pd.Series(5, index = ['a', 'b', 'c']))

print(pd.Series([1,2,3], index = ['a', 'b', 'c']))

a    5
b    5
c    5
dtype: int64
a    1
b    2
c    3
dtype: int64

In [69]:
x = pd.Series(3, index=['a', 'b', 'c', 'd'])
print(x)

x = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])
print(x)

a    3
b    3
c    3
d    3
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64

## 10.4 Series is ndarray-like

- Series acts similar to a numpy array, and is valid arguments to most numpy functions.
- Slicing also slices the index
- Short Intro, back to this later

In [70]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s)

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print(s)

a   -0.468226
b    0.035107
c    0.293639
d   -0.366218
e    0.550056
dtype: float64
a   -0.716817
b   -1.163856
c    0.377757
d    0.635920
dtype: float64

In [75]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s.iloc[2:4])

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print(s.iloc[0:4])

c   -1.001357
d    1.310924
dtype: float64
a   -1.228167
b   -0.826825
c   -1.861753
d   -0.921276
dtype: float64

In [76]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[:3])

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print(s[1:3])

a    0.315023
b    0.572887
c   -0.249859
dtype: float64
b   -0.604543
c   -0.115584
dtype: float64

In [77]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s[[3,2,1]])

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print(s[[0,3,1]])

d    1.898830
c   -2.432674
b    0.548473
dtype: float64
a   -1.196818
d    1.082300
b   -0.902829
dtype: float64

In [79]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(np.exp(s))

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print(np.exp(s))

a    1.455016
b    0.321140
c    0.419356
d    4.520858
e    1.012073
dtype: float64
a    1.138283
b    1.785261
c    0.715797
d    5.712569
dtype: float64

In [80]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s['b'])

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print(s['c'])

0.01238371850872052
0.311260257092029

In [81]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s['b']=12.
print(s)

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
s['a']=5.
s['d']=-2.
print(s)

a    -1.954662
b    12.000000
c    -0.993754
d     1.293634
e     0.979765
dtype: float64
a    5.000000
b   -1.023281
c   -0.096684
d   -2.000000
dtype: float64

In [83]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print('e' in s)

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print('b' in s)

True
True

In [85]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print('f' in s)

s = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print('e' in s)

False
False

## 10.5 Series is dict-like

- A Series is like a xed-size dict in that you can get and set values by index label

In [ ]:
s = pd.Series([1, 2, 3, 4])
s.to_dict()

{0L: 1L, 1L: 2L, 2L: 3L, 3L: 4L}

## 10.6 Vectorized operations and label alignment with Series

- When doing data analysis,as with the row NumPy arrays looping through series value by value is usually not necessary.
- Series can also be passed into most NumPy method expecting an ndarray.
- NumPy and Pandas generalize arithmetic operations so that we can easily and quickly perform the same operation on many array elements. For example:

In [87]:
import numpy as np
x = np.array([2, 3, 5, 7, 11, 13])
print(x * 2)

x = np.array([2, 3, 5, 7, 11, 13])
print(x / 2)

[ 4  6 10 14 22 26]
[1.  1.5 2.5 3.5 5.5 6.5]

In [88]:
data = ['saima', 'aisha', 'faiza', 'saira']
[s.capitalize() for s in data]

data = ['hello', 'iat', 'computer', 'snow']
[s.capitalize() for s in data]

['Hello', 'Iat', 'Computer', 'Snow']

# 11.Data Frames

- A DataFrame is a two dimensional object that can have columns with potential different types. Different kind of inputs include dictionaries, lists, series, and even another DataFrame.
- It is the most commonly used pandas object.
- You can create a series from:
    - Dict of 1D ndarrays, lists, dicts, or Series
    - 2-D numpy array
    - A list of dictionaries
    - A Series
    - Another Dataframe
  
- index/ columns is a list of the row/ column labels. If you pass an index and/ or columns, you are guarenteeing the index and /or column of the df.
- If you do not pass anything in, the input will be constructed by "common sense" rules

In [91]:
dates = pd.date_range('20130101',periods=6)
print(dates)

dates = pd.date_range('20221201',periods=5)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05'],
              dtype='datetime64[ns]', freq='D')

## 11.1 Dataframe creation from dict of series or dicts

 - The index of the resulting DataFrame will be the union of the indices of the various Series. If there are any nested dicts, these will be converted to Series.
 - If no columns are passed, the columns will be the sorted list of dict keys.

In [92]:
# Create a dictionary of series
d = {'one': pd.Series([1,2,3], index = ['a', 'b', 'c']),
'two': pd.Series(list(range(4)), index = ['a','b', 'c', 'd'])}
# Columns are dictionary keys, indices and values obtained from series
df = pd.DataFrame(d)
# Notice how it fills the column one with NaN for d
print(df)

d = {'A': pd.Series([-1,-2,-3], index = ['A', 'B', 'C']),
'B': pd.Series(list(range(4)), index = ['A','B', 'C', 'D'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    0
b  2.0    1
c  3.0    2
d  NaN    3
     A  B
A -1.0  0
B -2.0  1
C -3.0  2
D  NaN  3

In [93]:
 d = {'col1': [1, 2], 'col2': [3, 4]}
 df = pd.DataFrame(data=d)
 print(df)

 d = {'A': [-1, -2], 'B': [-3, -4]}
 df = pd.DataFrame(data=d)
 print(df)

   col1  col2
0     1     3
1     2     4
   A  B
0 -1 -3
1 -2 -4

## 11.2  Dataframe creation from dict of ndarrays/lists

 - The ndarrays must all be the same length.
 - If an index is passed, it must clearly also be the same length as the arrays. If no index is passed, the result will be range(n), where n is the array length.

In [94]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
print(pd.DataFrame(d))

d = {'A' : [1., 2., 3.], 'B' : [4., 3., 2.]}
print(pd.DataFrame(d))

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0
     A    B
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0

In [95]:
df2 = pd.DataFrame(np.random.randint(low=0, high=10, size=(5, 5)), columns=['a', 'b', 'c', 'd', 'e'])
print(df2)

df2 = pd.DataFrame(np.random.randint(low=-10, high=10, size=(4, 4)), columns=['a', 'b', 'c', 'd'])
print(df2)

   a  b  c  d  e
0  3  2  0  2  8
1  4  2  5  9  7
2  0  1  4  8  6
3  1  1  5  5  0
4  3  0  0  1  8
   a  b  c  d
0 -3 -7  8 -3
1  1 -7 -1 -9
2  6 -8  9  3
3 -6 -2  6 -2

## 11.3 Dataframe creation from a list of dicts

In [96]:
data = [{'a':10,"b":20},{'a':5,'b':10,'c':20}]
print(pd.DataFrame(data))

data = [{'a':10,"b":20,'c':30,'d':40},{'a':5,'b':10,'c':20}]
print(pd.DataFrame(data))

    a   b     c
0  10  20   NaN
1   5  10  20.0
    a   b   c     d
0  10  20  30  40.0
1   5  10  20   NaN

In [97]:
data = [{'a':10,"b":20,"c":30},{'a':5,'b':10,'c':20}]
print(pd.DataFrame(data))

data = [{'A':1,"B":2,"C":3},{'A':5,'B':1,'C':2}]
print(pd.DataFrame(data))

    a   b   c
0  10  20  30
1   5  10  20
   A  B  C
0  1  2  3
1  5  1  2

## 11.4 Dataframe creation from a dict of tuples

 - You can automatically create a multi indexed by passing a tuple dictionary.

In [100]:
df = pd.DataFrame({'Initial': ['C','A','M'], 'Sex': ['M', 'F', 'F'], 'Age': [49, 39, 19]})
#df = df[['Initial', 'Sex', 'Age']]
print(df)

df = pd.DataFrame({'Section': ['D101','D103','D102'], 'Grade': ['M', 'F', 'F'], 'Age': [29, 19, 25]})
print(df)

  Initial Sex  Age
0       C   M   49
1       A   F   39
2       M   F   19
  Section Grade  Age
0    D101     M   29
1    D103     F   19
2    D102     F   25

In [101]:
data = [('p1', 't1', 1, 2),('p1', 't2', 3, 4),('p2', 't1', 5, 6),('p2', 't2', 7, 8),('p2', 't3', 2, 8)]
df = pd.DataFrame(data)
print(df)

data = [('D101', -6, 1, 'p22'),('p1', 'D102', 3, -4),('2', 't1', -5, 6),('D22', 't2', 7, 8)]
df = pd.DataFrame(data)
print(df)

    0   1  2  3
0  p1  t1  1  2
1  p1  t2  3  4
2  p2  t1  5  6
3  p2  t2  7  8
4  p2  t3  2  8
      0     1  2    3
0  D101    -6  1  p22
1    p1  D102  3   -4
2     2    t1 -5    6
3   D22    t2  7    8

## 11.5 Alternate constructors

### Dataframe.from_dict

 - Dataframe.from_dict takes a dict of dictsor a dict of array like sequences and returns a Dataframe.
 - It operates like the dataframe constructor except for the orient parameter which is coulmn by default,but which can be set to index in order to use the dict keys as row labels.

In [103]:
data = {"X": {'a': 1, 'b': 2, 'c': 3}, "Y": {'d': 4, 'e': 5, 'f': 6}, "Z": {'g': 7, 'h': 8, 'i': 9}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
print(df)

data = {"A": {'a': -1, 'b': 2, 'c': -3}, "B": {'d': 4, 'e': -5, 'f': 6}, "C": {'g': -7, 'h': -8, 'i': 9}}

df = pd.DataFrame.from_dict(data, orient="index").fillna(0).astype(int)
print(df)

   a  b  c  d  e  f  g  h  i
X  1  2  3  0  0  0  0  0  0
Y  0  0  0  4  5  6  0  0  0
Z  0  0  0  0  0  0  7  8  9
   a  b  c  d  e  f  g  h  i
A -1  2 -3  0  0  0  0  0  0
B  0  0  0  4 -5  6  0  0  0
C  0  0  0  0  0  0 -7 -8  9

### Dataframe.from_records

- Dataframe.from_records take a list of tuples or an ndarray with structured dtype.
- Works analogously to the normal dataframe constructor,except that index may be aspecific field of the structured dtype to use as the index.for example:

In [106]:
sales = [('Jones LLC', 150, 200, 50),
     ('Alpha Co', 200, 210, 90),
     ('Blue Inc', 140, 215, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df = pd.DataFrame.from_records(sales, columns=labels)
print(df)

courses = [('IAT481', 200),
     ('IAT431', 400),
     ('IAT312', 240)]
labels = ['course', 'time']
df = pd.DataFrame.from_records(courses, columns=labels)
print(df)

     account  Jan  Feb  Mar
0  Jones LLC  150  200   50
1   Alpha Co  200  210   90
2   Blue Inc  140  215   95
   course  time
0  IAT481   200
1  IAT431   400
2  IAT312   240

### Dataframe.from_items

- Convert (key, value) pairs to DataFrame. The keys will be the axis index (usually the columns, but depends on the specified orientation). The values should be arrays or Series.

In [107]:
df=pd.DataFrame.from_items[('A',[1,2,3]),('B',[4,5,6])]
df=pd.DataFrame.from_items[('A',[-1,-2,-3]),('B',[-4,-5,-6])]

AttributeError: type object 'DataFrame' has no attribute 'from_items'

In [108]:
df=pd.DataFrame.from_items([('A',[1,2,3]),('B',[4,5,6])])
df

df=pd.DataFrame.from_items[('A',[-1,-2,-3]),('B',[-4,-5,-6])]
df

AttributeError: type object 'DataFrame' has no attribute 'from_items'

## 11.6 Column selection,addition,deletion

 - You can treat a DataFrame semantically like a dict of like-indexed Series objects. Getting, setting, and deleting columns works with the same syntax as the analogous dict operations:

In [110]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a']) # you can adress column by index
print(df)

df = pd.DataFrame([[1,-2],[-3,4],[5,-6]], columns=['A','A']) # you can adress column by index
print(df)

   a  a
0  1  2
1  3  4
2  5  6
   A  A
0  1 -2
1 -3  4
2  5 -6

In [112]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a'])
df.columns = ['a','b']  # rename column
print(df)

df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','A'])
df.columns = ['B','A']  # rename column
print(df)

   a  b
0  1  2
1  3  4
2  5  6
   B  A
0  1  2
1  3  4
2  5  6

In [114]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
del df['b']   # delete column
print(df)

df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','B'])
del df['A']   # delete column
print(df)

   a
0  1
1  3
2  5
   B
0  2
1  4
2  6

In [116]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','b'])
df['c']='2'   #add new column c and fill with 2
print(df)

df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['A','B'])
df['C']='0.2'   #add new column c and fill with 2
print(df)

   a  b  c
0  1  2  2
1  3  4  2
2  5  6  2
   A  B    C
0  1  2  0.2
1  3  4  0.2
2  5  6  0.2

### 11.7 Indexing / seletion

- Row selection, for example, returns a Series whose index is the columns of the DataFrame:
- Pandas now supports three types of Multi-axes indexing; the three types are:
    - .loc()  (label based)
    - .iloc()  (integer based)
    - .ix()    (both label and integer based)
- loc takes two single/list/range operator separated by ','. The first one indicates the row and the second one indicates columns.
- iloc(): Pandas provide various methods in order to get purely integer based indexing. Like python and numpy, these are 0-based indexing.
- ix(): Besides pure label based and integer based, Pandas provides a hybrid method for selections and subsetting the object using the .ix() operator.

#### .loc()

In [118]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

#select all rows for a specific column
print (df.loc[:,'A'])

df = pd.DataFrame(np.random.randn(6, 4),
index = ['a','b','c','d','e','f'], columns = ['A', 'B', 'C', 'D'])

print (df.loc[:,'B'])

a   -0.322675
b    0.299182
c   -1.574195
d   -1.046554
e   -0.641762
f    0.039161
g   -2.073016
h    1.438380
Name: A, dtype: float64
a    0.685194
b   -1.253711
c    0.988564
d   -0.181232
e    1.567404
f    2.272845
Name: B, dtype: float64

In [117]:
import pandas as pd
import numpy as np

In [120]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['A','C']])

df = pd.DataFrame(np.random.randn(6, 4),
index = ['a','b','c','d','e','f'], columns = ['A', 'B', 'C', 'D'])

# Select all rows for multiple columns, say list[]
print (df.loc[:,['B','C']])

          A         C
a -0.532451  0.263720
b -1.212705 -0.386968
c -0.270652 -0.418415
d  0.229681  2.018785
e -1.852158  0.670065
f -0.627411 -0.202844
g  0.523028  1.041181
h  1.614618 -0.593987
          B         C
a -1.117999 -0.215130
b  0.674443  0.940507
c -2.299148  0.277980
d -0.529485 -0.172635
e -0.748515 -0.982628
f  0.563874 -1.568077

In [121]:
df = pd.DataFrame(np.random.randn(8, 4),
index = ['a','b','c','d','e','f','g','h'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['a':'h'])

df = pd.DataFrame(np.random.randn(6, 4),
index = ['a','b','c','d','e','f'], columns = ['A', 'B', 'C', 'D'])

# Select range of rows for all columns
print (df.loc['c':'e'])

          A         B         C         D
a -0.985617 -0.301472  0.757779 -1.153959
b -0.629324  0.006444  1.199833 -0.821590
c -0.702284  0.693098 -0.305199 -1.110246
d  0.230914 -0.330289 -1.456074 -1.253892
e  0.021825 -0.711839 -0.693588 -0.780859
f  0.826295 -1.554502  0.178352  0.942968
g -1.228074  0.646581  1.012381 -0.873733
h  0.280391 -0.919089  1.008219  0.527441
          A         B         C         D
c  0.575736 -0.672633 -1.326032 -0.545799
d  0.317685 -1.366552 -1.400840 -0.707663
e -0.004803 -1.358704  0.522787  0.330233

#### .iloc()

In [122]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# select all rows for a specific column
print (df.iloc[:4])

df = pd.DataFrame(np.random.randn(6, 4), columns = ['A', 'B', 'C', 'D'])
print (df.iloc[1:3])

          A         B         C         D
0  0.809206 -0.363014  0.674510 -1.341469
1  0.549710 -0.503373  0.280244 -0.330677
2  1.079180 -0.910845  1.360638  1.663019
3  0.681887  0.779150 -0.082440 -1.804976
          A         B         C         D
1 -0.144578  0.118660  1.207351 -1.324683
2 -1.380591  0.060427 -0.075234 -0.232650

In [125]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing

print (df.iloc[1:5, 2:4])

df = pd.DataFrame(np.random.randn(6, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing

print (df.iloc[1:4, 1:4])

          C         D
1 -0.500136 -0.201411
2  0.587841 -0.149110
3  1.271059 -1.237846
4 -1.930912  0.604520
          B         C         D
1  1.039412  0.499337 -0.319552
2  1.084296  0.202389  0.772171
3 -0.260168  1.406615  0.009555

#### .ix()

In [127]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])

# Integer slicing
print (df.ix[:4])

df = pd.DataFrame(np.random.randn(6, 4), columns = ['A', 'B', 'C', 'D'])
print (df.ix[1:4])

AttributeError: 'DataFrame' object has no attribute 'ix'

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns = ['A', 'B', 'C', 'D'])
# Index slicing
print (df.ix[:,'A'])

df = pd.DataFrame(np.random.randn(6, 4), columns = ['A', 'B', 'C', 'D'])
# Index slicing
print (df.ix[:,'C'])

0   -0.470479
1    0.185088
2   -1.624392
3   -0.549156
4    0.494236
5    0.147245
6   -1.273751
7   -0.981244
Name: A, dtype: float64

D:\python\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

## 11.8 Data alignment and arithmetic

 - Data alignment between DataFrame objects automatically align on both the columns and the index (row labels).
 - Again, the resulting object will have the union of the column and row labels.

In [128]:
df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
print(df1)

df3 = pd.DataFrame(np.random.randn(6, 4), columns=['A', 'B', 'C', 'D'])
print(df3)

          A         B         C         D
0 -1.399970 -0.356898  1.172756 -0.898325
1 -0.554234 -0.076557 -0.311478  0.847175
2 -0.420794 -0.715476 -0.911213 -1.240782
3  1.346056  0.676807 -0.978862  1.079061
4 -0.036040  0.690850 -1.426883  1.141311
5 -2.290961  0.481552  0.767969  2.171348
6  1.590692 -0.800968  1.680376 -0.071106
7 -0.120966  1.272288 -0.417711  0.019178
8  0.107669 -1.201046  1.727451 -0.699048
9  0.237685 -0.848572 -0.014946  0.577871
          A         B         C         D
0 -0.135265  0.221746  0.709737 -0.023331
1  0.442426  1.342422  0.452369 -0.864748
2  0.316269 -0.860274  1.715021  0.225102
3  1.707922  1.114103  0.806921 -1.085259
4  0.030869  0.045748 -0.631574 -0.731291
5 -0.354353  1.205162  0.956723  1.436705

In [129]:
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df2)

df4 = pd.DataFrame(np.random.randn(6, 4), columns=['A', 'B', 'C', 'D'])
print(df4)

          A         B         C
0  0.125772 -0.551746  0.045175
1  0.478122 -0.263870  0.246145
2 -0.483187 -2.943579 -2.010639
3  0.638255  0.382159 -0.995189
4 -0.454502 -0.737344 -2.571627
5 -0.230570  0.768834 -0.215199
6  1.170541  1.066918 -0.838135
          A         B         C         D
0 -0.948843  0.125485 -0.299238 -1.224531
1  0.286553  0.060936  0.612899  1.838362
2  0.222978 -0.997254  2.662548  2.031942
3  1.095920 -0.643906  0.462110 -0.952757
4 -0.745759  0.482713  1.305022  0.096320
5  1.146538  0.853607  1.701310 -0.107999

In [130]:
print(df1+df2)
print(df3+df4)

          A         B         C   D
0 -1.274198 -0.908644  1.217930 NaN
1 -0.076113 -0.340427 -0.065332 NaN
2 -0.903981 -3.659056 -2.921851 NaN
3  1.984311  1.058966 -1.974051 NaN
4 -0.490542 -0.046494 -3.998510 NaN
5 -2.521531  1.250386  0.552770 NaN
6  2.761232  0.265951  0.842240 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN
          A         B         C         D
0 -1.084108  0.347231  0.410499 -1.247862
1  0.728979  1.403358  1.065268  0.973614
2  0.539247 -1.857528  4.377568  2.257044
3  2.803842  0.470197  1.269031 -2.038015
4 -0.714890  0.528461  0.673448 -0.634972
5  0.792185  2.058770  2.658032  1.328706

- When doing an operation between DataFrame and Series, the default behavior is to align the Series index on the DataFrame columns, thus broadcasting row-wise. For example:

In [131]:
print(df1 - df1.iloc[0])
print(df3 - df3.iloc[0,2])

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.845736  0.280341 -1.484233  1.745500
2  0.979176 -0.358578 -2.083968 -0.342457
3  2.746027  1.033705 -2.151618  1.977386
4  1.363931  1.047748 -2.599638  2.039636
5 -0.890990  0.838449 -0.404787  3.069673
6  2.990662 -0.444070  0.507620  0.827219
7  1.279005  1.629185 -1.590467  0.917503
8  1.507639 -0.844149  0.554695  0.199277
9  1.637656 -0.491675 -1.187701  1.476196
          A         B         C         D
0 -0.845003 -0.487991  0.000000 -0.733068
1 -0.267311  0.632685 -0.257368 -1.574485
2 -0.393468 -1.570011  1.005284 -0.484635
3  0.998184  0.404366  0.097183 -1.794996
4 -0.678868 -0.663989 -1.341311 -1.441029
5 -1.064090  0.495425  0.246985  0.726968

 - In the special case of working with time series data, and the DataFrame index also contains dates, the broadcasting will be column-wise:

In [133]:
index = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=list('ABC'))
print(df)

index = pd.date_range('12/25/2000', periods=6)
df = pd.DataFrame(np.random.randn(6, 4), index=index, columns=list('ABCD'))
print(df)

                   A         B         C
2000-01-01  0.019619  0.503446  0.869833
2000-01-02  0.875616 -1.481070 -0.832253
2000-01-03 -1.839250 -0.700566  0.379660
2000-01-04  0.636553 -1.274259  0.987163
2000-01-05  1.259923  0.931413  0.819241
2000-01-06 -0.767269 -0.492280 -1.039130
2000-01-07  0.749319 -1.832775 -0.213491
2000-01-08 -0.390247  0.884314 -1.356020
                   A         B         C         D
2000-12-25  0.563047 -0.787028 -0.087566 -0.156525
2000-12-26  0.198251 -0.635623 -0.460385 -0.907998
2000-12-27  0.824040 -1.374179 -0.417667 -0.354989
2000-12-28 -0.262902  1.352085  0.910585 -2.296791
2000-12-29  0.899582  0.570694  0.159269 -2.223985
2000-12-30  0.101569  0.927342  1.883517 -0.897357

In [135]:
print(df1* 10 + 2)
print(df3* (-6) + 6)

           A          B          C          D
0 -11.999704  -1.568977  13.727556  -6.983249
1  -3.542343   1.234433  -1.114779  10.471750
2  -2.207940  -5.154762  -7.112126 -10.407818
3  15.460565   8.768068  -7.788620  12.790610
4   1.639604   8.908501 -12.268829  13.413114
5 -20.909607   6.815515   9.679689  23.713480
6  17.906916  -6.009680  18.803756   1.288937
7   0.790342  14.722877  -2.177111   2.191784
8   3.076686 -10.010463  19.274509  -4.990480
9   4.376853  -6.485725   1.850544   7.778710
          A          B         C          D
0  6.811592   4.669525  1.741577   6.139984
1  3.345443  -2.054531  3.285785  11.188486
2  4.102386  11.161643 -4.290124   4.649389
3 -4.247529  -0.684616  1.158476  12.511552
4  5.814784   5.725510  9.789443  10.387749
5  8.126118  -1.230973  0.259664  -2.620229

In [137]:
print(1/df1)
print(8/df3)

           A          B          C          D
0  -0.714301  -2.801923   0.852693  -1.113183
1  -1.804291 -13.062210  -3.210501   1.180394
2  -2.376460  -1.397671  -1.097439  -0.805943
3   0.742911   1.477526  -1.021594   0.926732
4 -27.747270   1.447492  -0.700828   0.876185
5  -0.436498   2.076621   1.302136   0.460543
6   0.628657  -1.248489   0.595105 -14.063454
7  -8.266800   0.785986  -2.393999  52.142114
8   9.287759  -0.832607   0.578888  -1.430517
9   4.207244  -1.178450 -66.909425   1.730490
            A           B          C           D
0  -59.142991   36.077333  11.271778 -342.896267
1   18.082112    5.959379  17.684673   -9.251253
2   25.294920   -9.299365   4.664667   35.539463
3    4.684056    7.180666   9.914234   -7.371514
4  259.157150  174.869948 -12.666770  -10.939551
5  -22.576354    6.638111   8.361880    5.568298

In [139]:
print(df1**5)
print(df3**3)

              A         B             C             D
0 -5.377671e+00 -0.005791  2.218388e+00 -5.850152e-01
1 -5.229581e-02 -0.000003 -2.931812e-03  4.363808e-01
2 -1.319312e-02 -0.187489 -6.282010e-01 -2.940878e+00
3  4.418923e+00  0.142012 -8.986848e-01  1.462952e+00
4 -6.079931e-08  0.157369 -5.914821e+00  1.936514e+00
5 -6.310854e+01  0.025895  2.671272e-01  4.826665e+01
6  1.018427e+01 -0.329667  1.339775e+01 -1.817775e-06
7 -2.590078e-05  3.333702 -1.271686e-02  2.594519e-09
8  1.446923e-05 -2.499187  1.538256e+01 -1.669303e-01
9  7.585974e-04 -0.439992 -7.456989e-10  6.443983e-02
          A         B         C         D
0 -0.002475  0.010904  0.357514 -0.000013
1  0.086601  2.419173  0.092572 -0.646649
2  0.031635 -0.636664  5.044384  0.011406
3  4.982000  1.382852  0.525403 -1.278203
4  0.000029  0.000096 -0.251926 -0.391085
5 -0.044495  1.750396  0.875706  2.965532

- Boolean operators work as well:

In [141]:
df1 = pd.DataFrame({'a' : [1, 0, 1], 'b' : [0, 1, 1] }, dtype=bool)
print(df1)

df3 = pd.DataFrame({'a' : [1, 0, 1, 0], 'b' : [0, 1, 1, 0] }, dtype=bool)
print(df3)

       a      b
0   True  False
1  False   True
2   True   True
       a      b
0   True  False
1  False   True
2   True   True
3  False  False

In [144]:
df2 = pd.DataFrame({'a' : [0, 1, 1], 'b' : [1, 1, 0] }, dtype=bool)
print(df2)

df4 = pd.DataFrame({'a' : [0, 1, 1, 1], 'b' : [1, 1, 1, 0] }, dtype=bool)
print(df4)

       a      b
0  False   True
1   True   True
2   True  False
       a      b
0  False   True
1   True   True
2   True   True
3   True  False

In [146]:
print(df1&df2)
print(df3&df4)

       a      b
0  False  False
1  False   True
2   True  False
       a      b
0  False  False
1  False   True
2   True   True
3  False  False

In [147]:
print(df1 | df2)
print(df3 | df4)

      a     b
0  True  True
1  True  True
2  True  True
      a      b
0  True   True
1  True   True
2  True   True
3  True  False

In [148]:
print(df1^df2)
print(df3^df4)

       a      b
0   True   True
1   True  False
2  False   True
       a      b
0   True   True
1   True  False
2  False  False
3   True  False

In [149]:
print(-df1)
print(-df3)

       a      b
0  False   True
1   True  False
2  False  False
       a      b
0  False   True
1   True  False
2  False  False
3   True   True

## 11.9 transposing

- To transpose, access the T attribute (also the transpose function), similar to an ndarray:

In [151]:
# only show the first 4 rows
print(df[:4].T)
print(df[1:3].T)

   2000-12-25  2000-12-26  2000-12-27  2000-12-28
A    0.563047    0.198251    0.824040   -0.262902
B   -0.787028   -0.635623   -1.374179    1.352085
C   -0.087566   -0.460385   -0.417667    0.910585
D   -0.156525   -0.907998   -0.354989   -2.296791
   2000-12-26  2000-12-27
A    0.198251    0.824040
B   -0.635623   -1.374179
C   -0.460385   -0.417667
D   -0.907998   -0.354989